#imagenDePerfil {
    width: 200px;
    margin: 2rem 0;
    border-radius: 50%
}
.seccion-bienvenida{
    margin: 5rem 0 10rem 0;
    color:white;
    
}
.seccion-bienvenida p {
    font-family:sans-serif;
    line-height:1.5;
    font-size:1.25rem;

}
.cabecera{
    font-weight:bold
}

.habilidades ul{
    list-style:none;
    padding-left:0;
}