@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-top: -200px">

    <div class="row justify-content-md-center  text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px;box-shadow: 0 5px 5px 0 gray">
            <h3>Back-end</h3>
            <p>

            </p>
            <p class=" bi bi-stack text-primary cabecera" style="font-size:20px">
                Stack:
            </p>
            <p>
                ASP.NET CORE,SQL SERVER
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>ASP.NET CORE MVC</li>
                <li>Entity Framework Core</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0px 15px 15px 0px;box-shadow: 0 5px 5px 0 gray">
            <h3>Front-end</h3>
            <p></p>
            <p class=" bi bi-stack text-primary cabecera" style="font-size:20px">

                Stack:
            </p>
            <p>
                HTML,CSS,JAVASCRIPT
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>Boostrap</li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

