@{
    ViewData["title"] = "contacto";
}

<h1>Formulario de contacto</h1>


<form asp-controller="home" asp-action="Contacto" >
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input class="form-control" id="nombre" name="nombre" placeholder="" />
    </div>
     <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input type="email"class="form-control" id="email" name="email" placeholder="" />
    </div>
    <div class="mb-3">
        <label for="mensaje" class="form-label">mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="4"></textarea>
    </div>
    <button   hidden type="submit" class="btn btn-primary">Enviar</button>
</form>