@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te contestare el mensaje lo mas pronto posible</p>
<div><a asp-action="index" asp-controler="home">Volver a home</a></div>